<nav><a href="movies">Go back</a></nav>
<div id="movie-selected">
  <h2>{{title}}</h2>
  <img src="{{image}}" alt="movie-image" />
  <h3>{{director}}</h3>
  <p><b>Stars</b></p>
  <ul>
    {{#each stars}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  <p>{{description}}</p>
  <p>
    {{#each showtimes}}
      <span>{{this}} |</span>
    {{/each}}
  </p>
</div>